# Ignorar archivos y carpetas comunes
.DS_Store
*.swp
*~

# Ignorar entornos virtuales
.venv/

# Ignorar archivos generados
build/
dist/
*.egg-info
*.pyc
__pycache__/

# Ignorar archivos de configuración locales
local_settings.py
.env

# Ignorar contenido de la carpeta python_automatizacion
python_automatizacion/.DS_Store
python_automatizacion/*.swp
python_automatizacion/.venv/
python_automatizacion/.idea/
python_automatizacion/build/
python_automatizacion/dist/
python_automatizacion/*.egg-info
python_automatizacion/*.pyc
python_automatizacion/__pycache__/
python_automatizacion/local_settings.py
python_automatizacion/.env
